<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('我的选课')" /></head>
<body class="gray-bg"><div class="container-div"><div class="row"><div class="col-sm-12" style="margin-bottom:10px"><a class="btn btn-info btn-xs" href="#" onclick="window.location.href=ctx+'/student/schedule?sno='+sno">我的课表</a> <a class="btn btn-success btn-xs" href="#" onclick="window.location.href=ctx+'/student/grade?sno='+sno">成绩查询</a> <a class="btn btn-warning btn-xs" href="#" onclick="window.location.href=ctx+'/student/course?sno='+sno">可选课程</a></div><div class="col-sm-12 select-table table-striped"><table id="bootstrap-table"></table></div></div></div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
var sno = [[${sno}]];
$(function() {
    var options = {
        url: ctx + "student/course/my/list",
        createUrl: undefined, updateUrl: undefined, removeUrl: undefined,
        modalName: "选课", uniqueId: "cno",
        queryParams: function(params) { return {pageSize: params.limit, pageNum: params.offset / params.limit + 1, sno: sno}; },
        columns: [{field:'cno',title:'课程号'},{field:'cname',title:'课程名'},{field:'semester',title:'学期'},{field:'normalScore',title:'平时成绩'},{field:'testScore',title:'考试成绩'},{title:'操作',formatter:function(v,r){return '<a class="btn btn-danger btn-xs" href="#" onclick="dropCourse(\''+r.cno+'\')">退课</a>';}}]
    };
    $.table.init(options);
});
function dropCourse(cno) {
    $.modal.confirm("确定要退选该课程吗？", function() {
        $.ajax({ type: "POST", url: ctx + "student/course/drop", data: {sno:sno, cno:cno}, success: function(r) { if (r.code == web_status.SUCCESS) { $.modal.msgSuccess(r.msg); $.table.refresh(); } else { $.modal.alertError(r.msg); } } });
    });
}
</script></body></html>
