<!DOCTYPE html><html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('选课时间设置')" /></head>
<body class="gray-bg"><div class="container-div"><div class="row"><div class="col-sm-12"><div class="ibox"><div class="ibox-content">
<form class="form-horizontal m-t" id="window-form">
  <div class="form-group"><label class="col-sm-3 control-label">选课开始时间：</label><div class="col-sm-6">
    <input class="form-control time-input" type="text" id="startTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" /></div></div>
  <div class="form-group"><label class="col-sm-3 control-label">选课结束时间：</label><div class="col-sm-6">
    <input class="form-control time-input" type="text" id="endTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" /></div></div>
  <div class="form-group"><div class="col-sm-6 col-sm-offset-3"><button type="button" class="btn btn-primary" onclick="save()">保存</button></div></div>
</form></div></div></div></div></div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function save(){
  var startTime=$('#startTime').val(),endTime=$('#endTime').val();
  if(!startTime||!endTime){$.modal.alertWarning('请填写开始时间和结束时间');return;}
  $.ajax({url:ctx+'admin/course/selection-window/save',type:'POST',data:{startTime:startTime,endTime:endTime},
    success:function(r){if(r&&r.code==web_status.SUCCESS){$.modal.msgSuccess(r.msg)}else{$.modal.alertError(r?r.msg:'保存失败')}},
    error:function(){$.modal.alertError('网络错误，请稍后重试')}
  });}
</script></body></html>
