<!DOCTYPE html><html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>选课系统</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
<div class="row"><div class="col-sm-12">
<div class="text-center" style="padding-top:80px;">
<i class="fa fa-graduation-cap" style="font-size:64px;color:#1ab394;"></i>
<h1 style="margin:20px 0 10px;">欢迎使用选课管理系统</h1>
<p style="color:#999;font-size:16px;">请通过左侧菜单导航至各功能页面</p>
</div>
</div></div></div>
</body></html>
