<!DOCTYPE html><html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('修改密码')" /></head>
<body class="gray-bg"><div class="container-div"><div class="row"><div class="col-sm-8 col-sm-offset-2"><div class="ibox"><div class="ibox-content">
<form class="form-horizontal m-t" id="pwd-form">
  <div class="form-group"><label class="col-sm-3 control-label">旧密码：</label><div class="col-sm-6"><input class="form-control" type="password" id="oldPwd" /></div></div>
  <div class="form-group"><label class="col-sm-3 control-label">新密码：</label><div class="col-sm-6"><input class="form-control" type="password" id="newPwd" placeholder="至少8位" /></div></div>
  <div class="form-group"><label class="col-sm-3 control-label">确认密码：</label><div class="col-sm-6"><input class="form-control" type="password" id="confirmPwd" /></div></div>
  <div class="form-group"><div class="col-sm-6 col-sm-offset-3"><button type="button" class="btn btn-primary" onclick="save()">修改</button></div></div>
</form></div></div></div></div></div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function save(){var d={oldPassword:$('#oldPwd').val(),newPassword:$('#newPwd').val(),confirmPassword:$('#confirmPwd').val()};
  $.post(ctx+'teacher/profile/password',d,function(r){if(r.code==0){$.modal.msgSuccess("修改成功");$('#pwd-form')[0].reset();}else $.modal.msgError(r.msg);});}
</script></body></html>
